<div class="container" align="center">
    <div class="card">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{userId}} 님의 프로필</h5>
            <p class="card-text">이름: {{userName}}</p>
            <p class="card-text">전화번호: {{userPhone}}</p>
            <p class="card-text">이메일: {{userEmail}}</p>
            <div>
                <a href="/user/logout">로그아웃</a>
            </div>
        </div>
    </div>
</div>
